{% extends 'base.html.twig' %}

{% trans_default_domain 'messages' %}
{% set lang = app.request.locale %}
{% set other_lang = (lang == 'en' ? 'fr' : 'en') %}

{%block body%}


<main class="container-fluid h-100">
{% include 'nav.html.twig' %}

    <!-- <div id="mc_embed_signup">
        <form action="https://basilesamel.us12.list-manage.com/subscribe/post?u=66ac0e518ce31f394e250917b&amp;id=07a5448e2c" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate form-inline" target="_blank" novalidate>
            <div id="mc_embed_signup_scroll">
                <div class="mb-3">
                    <div class="text-center mb-3">Newsletter</div>
                    <label class="sr-only" for="mce-EMAIL">Email adress</label>
                    <input type="email" value="" name="EMAIL" class="email form-control mb-3 mb-md-0" id="mce-EMAIL" placeholder="{{ 'Your email address'|trans|raw }}" required>

                    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_66ac0e518ce31f394e250917b_07a5448e2c" tabindex="-1" value=""></div>
                    <input type="submit" value="{{ 'Subscribe'|trans|raw }}" name="subscribe" id="mc-embedded-subscribe" class="button btn btn-primary">
                </div>
            </div>
        </form>
    </div> -->

<div class="row h-100">



<!-- Article feed -->
<div class="col-12 h-100" id="articles">
{% if articles is not empty %}

    {% for article in articles %}

    {% if lang == 'en'%}
        {% set current_article = article.english %}
        {% set date_article = article.date|localizeddate('none', 'none', null, null, "MMM d") %}
    {% else %}
        {% set current_article = article.french %}
        {% set date_article = article.date|localizeddate('none', 'none', null, null, "d MMM") %}
    {% endif %}

      <!-- <img class="card-img-top" src="{{asset(article_img_directory ~ article.cover)}}" alt="Card image cap"> -->

    <a href="/{{lang}}/article/{{article.id}}" target="_blank" style="background-image:url({{asset(article_img_directory ~ article.cover)}});" class="article-wrapper">
    <article class="jumbotron jumbotron-fluid d-flex align-items-center">
      <div class="container">
        <h3 class="display-4">{{date_article}} - {{current_article.title}}</h3>
        <!-- <p class="lead">
            {% for tag in current_article.tags %}
            <span class="badge badge-primary badge-pill tag ">{{tag.title}}</span>
            {% endfor %}
        </p> -->
      </div>
    </article>
    </a>

    {% endfor %}

{% else %}
  <p class="text-center display-4 text-muted">{{ 'article-noarticles'|trans|raw }}</p>
{% endif %}

</div>

</div>
</main>

{%endblock%}

{%block javascript%}
<script src="{{ asset('build/landing.js') }}"></script>
{%endblock%}
