{% extends 'base.html.twig' %}

{% trans_default_domain 'messages' %}
{% set lang = app.request.locale %}
{% set other_lang = (lang == 'en' ? 'fr' : 'en') %}

{%block body%}

{% include 'nav.html.twig' %}

<main class="container-fluid">

<div class="row">

<div class="d-none d-md-flex flex-column col-md-2 text-center align-items-center justify-content-center" id="sidebar">

    <div class="text-left mb-3">
        <div class="mb-3">
            <a href="/">
            <span class="badge badge-{% if not app.request.get('tag') %}danger{% else %}dark{% endif %}">
                All <span class="badge badge-light">{{all_articles|length}}</span>
            </span>
            </a>
        </div>
        {% for tag in tags %}
        <div>
            <a href="/?tag={{tag.translations[0].slug}}">
            <span class="badge badge-{% if app.request.get('tag') == tag.translations[0].slug %}danger{% else %}dark{% endif %}">
                {{tag.translations[0].name}} <span class="badge badge-light">{{tag.articles|length}}</span>
            </span>
            </a>
        </div>
        {% endfor %}
    </div>

    <button type="button" class="btn btn-primary mb-3" data-toggle="modal" data-target="#modal-newsletter-subscription">
      {{'Subscribe'|trans}} <i class="fas fa-envelope-open text-white"></i>
    </button>

    <ul class="nav flex-row mb-3">
        <li class="nav-item">
            <a class="nav-link text-dark" href="mailto:basile@justinien.co" target="_blank"><span class="fa fa-envelope"></span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" href="https://www.linkedin.com/in/basile-samel/" target="_blank"><span class="fab fa-linkedin"></span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" href="https://twitter.com/basilesamel" target="_blank"><span class="fab fa-twitter"></span></a>
        </li>
    </ul>

    <p class="text-muted">2018Ⓒ <a href="http://basilesamel.com/{{lang}}" target="_blank">basile 🌿</a></p>

</div>

<!-- Article feed -->
<div class="col-12 col-md-10 ml-auto mb-5" id="articles">
{% if articles is not empty %}

    {% for article in articles %}

        {% if article.status == 'public' %}

        {% if lang == 'en'%}
            {% set current_article = article.english %}
            {% set date_article = article.date|localizeddate('none', 'none', null, null, "MMM d") %}
        {% else %}
            {% set current_article = article.french %}
            {% set date_article = article.date|localizeddate('none', 'none', null, null, "d MMM") %}
        {% endif %}

        {% if current_article %}
        <a href="/{{lang}}/article/{{current_article.slug}}" style="background-image:url({{asset(article_img_directory ~ article.cover)}});" class="article-wrapper">
        <article class="jumbotron jumbotron-fluid d-flex align-items-center">
          <div class="container text-center">
            <h3 class="display-4">{{current_article.title}}</h3>
            <span class="text-white">{{date_article}}</span>
            <div class="mt-3">
                {% for tag in article.tags %}
                <span class="badge badge-dark">
                    {{tag.translations[0].name}}
                </span>
                {% endfor %}
            </div>
          </div>
        </article>
        </a>
        {% endif %}

        {% endif %}

    {% endfor %}

    <p class="text-center display-4 text-muted mt-5 mb-5">{{ 'That\'s all for now'|trans|raw }} <a href="#"><i class="fas fa-chevron-circle-up text-muted"></i></a></p>

{% else %}
  <p class="text-center display-4 text-muted">{{ 'article-noarticles'|trans|raw }}</p>
{% endif %}

</div>

</div>
</main>


{% include 'modal_email_subscription.html.twig' %}

{%endblock%}

{%block javascript%}
<script src="{{ asset('build/landing.js') }}"></script>
{%endblock%}
