{% extends 'base.html.twig' %}

{% trans_default_domain 'messages' %}
{% set lang = app.request.locale %}
{% set other_lang = (lang == 'en' ? 'fr' : 'en') %}

{% if lang == 'en'%}
    {% set current_article = article.english %}
    {% set date_article = article.date|localizeddate('none', 'none', null, null, "MMMM d") %}
{% else %}
    {% set current_article = article.french %}
    {% set date_article = article.date|localizeddate('none', 'none', null, null, "d MMMM") %}
{% endif %}

{% block title %}{{current_article.title}} | Toward Mastery{% endblock %}

{% block meta_description %}

    {% set article_content = current_article.content|striptags %}
    <meta name="description" content="{{ article_content|length > 50 ? article_content|slice(0, 50) ~ '...' : article_content }} ..." />

{% endblock %}

{%block body%}

{% include 'nav.html.twig' %}

<main class="container-fluid">

<div class="row">

<div class="d-none d-md-flex flex-column col-md-2 text-center align-items-center justify-content-center" id="sidebar">
    <button type="button" class="btn btn-primary mb-3" data-toggle="modal" data-target="#modal-email-subscription">
      {{'Subscribe'|trans}} <i class="fas fa-envelope-open text-white"></i>
    </button>

    <ul class="nav flex-row mb-3">
        <li class="nav-item">
            <a class="nav-link text-dark" href="mailto:basile@justinien.co" target="_blank"><span class="fa fa-envelope"></span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" href="https://www.linkedin.com/in/basile-samel/" target="_blank"><span class="fab fa-linkedin"></span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" href="https://twitter.com/basilesamel" target="_blank"><span class="fab fa-twitter"></span></a>
        </li>
    </ul>

    <p class="text-muted">2018Ⓒ <a href="http://basilesamel.com/{{lang}}" target="_blank">Basile Samel</a></p>
</div>

<!-- Article feed -->
<div class="col-12 col-md-10 ml-auto" id="article">

    <div class="jumbotron jumbotron-fluid article-cover" style="background-image:url('{{asset(article_img_directory ~ article.cover)}}')">
      <div class="container">
      </div>
    </div>

    <article class="article mx-auto">
      <div class="row">
      <header class="col-12">
      <h1>{{current_article.title}}</h1>
      </header>
      </div>

      <div class="row">
      <div class="p-4 col-12">
      <p class="article-metadata"><small>{{date_article}}, {{'by'|trans}} <a href="http://basilesamel.com" target='_blank'>Basile Samel</a> </small></p>
      <div class="article-content">{{current_article.content | raw}}</div>
      <hr>
      <div class="font-weight-bold">
          {% if lang == 'en' %}
          <p>I am <a href="http://basilesamel.com" target="_blank">Basile</a>, a young software craftsman documenting his entrepreneurship journey. If you liked this article, you can follow my adventures in real time on <a href="https://twitter.com/basilesamel" target="_blank">Twitter</a> or <a href="#" data-toggle="modal" data-target="#modal-email-subscription">sign up to my newsletter for more</a>. I’m always looking forward to meeting new people and learning from others !</p>
          <p>My startup : <a href="https://justinien.co" target="_blank">justinien.co</a></p>
          {% else %}
          <p>Je suis <a href="http://basilesamel.com/fr" target='_blank'>Basile</a>, un jeune artisan logiciel documentant sa quête entrepreneuriale. Si tu as aimé cet article, tu peux suivre mes aventures en temps réel sur <a href="https://twitter.com/basilesamel" target="_blank">Twitter</a> ou <a href="#" data-toggle="modal" data-target="#modal-email-subscription">t'inscrire à ma newsletter</a> pour rester informer. Je suis toujours prédisposé à rencontrer de nouvelles personnes et à apprendre des autres !</p>
          <p>Ma startup : <a href="https://justinien.co" target="_blank">justinien.co</a></p>
          {% endif %}
      </div>
      </div>
      </div>
    </article>

</div>

</div>

</main>

{% include 'modal_email_subscription.html.twig' %}

{%endblock%}

{%block javascript%}
<script src="{{ asset('build/landing.js') }}"></script>
{%endblock%}
