{% extends 'base.html.twig' %}

{% trans_default_domain 'messages' %}
{% set lang = app.request.locale %}
{% set other_lang = (lang == 'en' ? 'fr' : 'en') %}

{% if lang == 'en'%}
    {% set current_article = article.english %}
{% else %}
    {% set current_article = article.french %}
{% endif %}

{% block title %}{{current_article.title}} | Engineer Leaf{% endblock %}

{%block body%}

<main class="container-fluid">

{% include 'nav.html.twig' %}

<div class="row">

<!-- Article feed -->
<div class="col-12" id="article">

    <article class="article mx-auto">
      <div class="row">
      <header class="col-12">
      <img src="{{asset(article_img_directory ~ article.cover)}}" class="article-cover">
      <h1>{{current_article.title}}</h1>
      </header>
      </div>

      <div class="row">
      <div class="p-4 col-12 col-md-4 offset-md-4">
      <p class="article-metadata"><small>{{article.date | date("F d")}} {{'by'|trans}} <a href="http://basilesamel.com" target='_blank'>Basile Samel</a> </small></p>
      <div class="article-content">{{current_article.content | raw}}</div>
      </div>
      </div>
    </article>

</div>

</div>

</main>

<!-- Modal -->
<div class="modal fade" id="subscription-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Inscription à la newsletter de Toward Mastery</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {% include 'email_subscription.html.twig'%}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">{{'Close'|trans}}</button>
      </div>
    </div>
  </div>
</div>

{%endblock%}

{%block javascript%}
<script src="{{ asset('build/article.js') }}"></script>
{%endblock%}
