{% extends 'admin/base.html.twig' %}

{%block body%}
<div class="container-fluid">
<div class="row">
<div class="col-12 col-md-8 offset-md-2">

<div>
<h1 class="mt-3 configure-title">Articles</h1><a class="btn btn-success configure-title" href="{{path('create_article')}}">Create</a>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th></th>
      <th>Id</th>
      <th>Title</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for article in articles %}
    <tr>
      <td>
          {% for tag in article.tags %}
          <span class="badge badge-primary">
              {{tag.translations[0].name}}
          </span>
          {% endfor %}
      </td>
      <td>{{article.id}}</td>
      <td>{{article.english.title}}</td>
      <td style="float:right;">
        <a class="btn btn-primary" href="{{path('edit_article', {'id': article.id})}}">Edit</a>
        <a class="btn btn-danger" href="{{path('delete_article', {'id': article.id})}}">Delete</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
</div>
</div>
</div>

{%endblock%}
